.auth.panel {
    border-radius: 0;
}

.login, .register {
    padding: 15px;
}

.login .primary, .register .primary {
    margin-right: 10px;
}

.login h2, .register h2 {
    font-size: 18px;
    color: #197de1;
    font-weight: normal;
    margin-bottom: 10px;
}

.account-control {
    padding: 5px;
    display: flex;
    min-height: 46px;
    max-height: 46px;
    flex-flow: row nowrap;
}

.account-control .welcome {
    flex-grow: 1;
    padding: 5px;
    color: white;
}

.account-control i {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin: 3px;
}

.users {
    color: #9ca5af;
    padding: 5px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.1);
}

.user {
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
}

.user .info {
    display: flex;
    flex-flow: row;
    padding: 5px 5px 5px 0;
}

.user .info i {
    width: 30px;
    line-height: 20px;
    text-shadow: white 0 0 2px;
}

i.online {
    color: forestgreen;
}

i.offline {
    color: indianred;
}

i.away {
    color: #fca600;
}

i.unknown {
    color: #156ab3;
}

.user .info .name {
    color: white;
    line-height: 20px;
}

.user .status {
    font-size: 12px;
    padding-left: 30px;
    text-overflow: ellipsis;
    width: 100%;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.controls {
    display: flex;
    font-size: 20px;
    min-height: 52px;
    max-height: 52px;
}

.controls .image {
    margin-left: 30px;
}

.controls .upload {
    position: relative;
    overflow: hidden;
}

.controls .upload .file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.controls i {
    color: #197de1;
    border-color: #197de1;
    margin-right: 5px;
}

.controls .section {
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    max-height: 50px;
}

.messages {
    flex-grow: 1;
    flex-flow: column nowrap;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    display: flex;
    flex-grow: 1;
    min-height: 38px;
    flex-flow: column;
    border-radius: 4px;
    color: rgb(71, 71, 71);
    border: 1px solid rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    margin: 10px 50px 10px 3px;
}

.message .info {
    display: flex;
    flex-flow: row;
    min-width: 150px;
    padding: 2px 5px;
    background: rgba(0, 0, 0, 0.1);
}

.message.own {
    margin-right: 10px;
    margin-left: 50px;
}

.message.own .info {
    color: #197de1;
}

.message .owner {
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
}

.message .created {
    display: flex;
}

.message .created .date {
    font-size: 14px;
}

.message .created .time {
    font-size: 14px;
    margin-right: 10px;
}

.message .text {
    flex-grow: 1;
    margin: 0;
    padding: 4px;
}

.message .text a {
    color: #1b87e3;
}

.message .text a:hover, .message .text a:visited {
    color: #1f87ef;
}

.message .image-url {
    max-width: 300px;
    max-height: 200px;
    border-radius: 4px;
}

.message .image-url:hover {
    cursor: pointer;
    opacity: 0.5;
}

.message-input {
    display: flex;
    width: 100%;
    padding: 0 10px 10px;
    min-height: 90px;
    max-height: 90px;
}

.message-input textarea {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    background-color: rgb(255, 253, 250);
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    padding: 3px 6px;;
    min-height: 80px;
    max-height: 80px;
}

.user-edit {
    display: flex;
    flex-flow: column;
}

.user-edit h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.user-edit textarea {
    resize: none;
    border-color: rgb(213, 213, 213);
    width: 300px;
    height: 80px;
    padding: 2px 5px;
    font-size: 14px;
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
    background-color: rgb(255, 253, 250);
    border-radius: 4px;
}

.user-edit label {
    display: block;
    margin: 10px 0;
    font-size: 15px;
}